
  #btn {
    height: 20px;
    padding: 0;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #1F1E1E;
  }
  .btn--red {
    height: 20px;               
    padding: 0;
    background: black;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
  }
  .btn--events {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #1F1E1E;
  }
  .btn--events--red {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #BC3324;
  }
  .btn--blog {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #1F1E1E;
  }
  .btn--blog--red {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #BC3324;
  }
  .btn--we {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #1F1E1E;
  }
  .btn--we--red {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #BC3324;
  }
  .btn--contacts {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #1F1E1E;
  }
  .btn--contacts--red {
    height: 20px;
    padding: 0;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #BC3324;
  }
